@font-face {
  font-family: "Open-Sans";
  src: local("open-sans-regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: local("open-sans-semibold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: local("open-sans-bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* root */

:root {
  --black: #000;
  --mine-shaft: #333;
  --dove-gray: #666;
  --dusty-gray: #999;
  --biloba-flower: #d1a9f0;
  --heliotrope: #c283f3;
  --amethyst: #9d5cd0;
  --royal-purple: #7943a4;
  --apple: #30bf39;
  --curious-blue: #26a5e4;
  --thunderbird: #d11616;
  --silver: #cacaca;
  --gallery: #ececec;
  --white: #fff;
}

body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.fdd {
  font-size: 0;
}

.flex {
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.stop-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__top {
  padding: 30px 0;
  background-color: var(--black);
}

.header__top-inner {
  align-items: center;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  cursor: pointer;
}

.enter__icon {
  margin-right: 7px;
}

.enter__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.header__down {
  padding-top: 23px;
  padding-bottom: 28px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__down-inner {
  align-items: center;
  justify-content: space-between;
}

.types__item {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  cursor: pointer;
}

.types__item:not(:last-child) {
  margin-right: 90px;
}

.types__item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  width: 12px;
  height: 7px;
  transform: translateY(-25%);
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;

}

.form {
  align-items: center;
}

.search__btn {
  margin-right: 9px;
}

.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

/* hero */
.hero__inner {
  position: absolute;
  width: 30%;
  margin: 0 auto;
  padding-top: 233px;
  z-index: 100;
}

.swiper {
  position: relative;
  height: 800px;
}

.swiper-slide {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__tittle {
  display: block;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--white);
}

.hero__descr {
  display: block;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.hero__link {
  width: 314px;
  padding: 22.5px 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border-radius: 100px;
  background-color: var(--amethyst);
  color: var(--white);
}

.bg-lide-1 {
  background-image: url(../img/slider-1.jpg);
}

.bg-lide-2 {
  background-image: url(../img/slider-2.jpg);
}

.bg-lide-3 {
  background-image: url(../img/slider-3.jpg);
}

/* about */
.about {
  padding: 80px 0;
}

.about__tittle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--mine-shaft);
}

.about__descr {
  width: 66%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--mine-shaft);
}

/* gallery */
.gallery {
  padding: 80px 0;
  background-image: url(../img/bg-gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__inner {
  width: 400px;
}

.gallery__tittle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--white);
}

.select__tittle {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.gallery__select {
  width: 100%;
  padding: 3px 14px 5px 16px;
  outline: none;
  border-radius: 6px;
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
}
/* catalog */
/* events */
/* projects */
/* map */
/* footer */